body{

margin:0;

height:100vh;

display:flex;

align-items:center;

justify-content:center;


background:
linear-gradient(135deg,#020024,#00ffff);


font-family:Arial;

}


.box{

background:#101010;

color:white;

padding:40px;

width:350px;

text-align:center;

border-radius:25px;

box-shadow:
0 0 40px cyan;

}



.logo{

width:120px;

height:120px;

border-radius:50%;

}



h1{

font-size:45px;

}



.btn{

display:block;

padding:18px;

margin:20px;

border-radius:15px;

text-decoration:none;

color:white;

font-size:20px;

transition:.3s;

}


.btn:hover{

transform:scale(1.08);

}



.blue{

background:#006eff;

}



.green{

background:#00a800;

}


.purple{

background:#5865F2;

}


.copy{

color:#777;

}
